<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4" 
    android:versionName="2011-01-30.2" 
    android:installLocation="internalOnly" 
    package="com.mitchellmebane.android.wimaxnotifier" >
    
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true">
    
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".NotificationPrefsActivity"  
            android:label="@string/NotificationPrefsActivityTitle"  />
        
        <activity android:name=".AboutActivity" 
            android:theme="@android:style/Theme.Dialog" 
            android:label="@string/AboutDialogTitle" 
            android:description="@string/AboutDialogSummary" />
        
        <service android:name=".WiMAXNotifierMessageService"
            android:icon="@drawable/icon" 
            android:enabled="true" />
        
        <receiver android:name=".MessageBroadcastReceiver" 
            android:icon="@drawable/icon"
            android:enabled="true">
            
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
            
            <!--
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            -->
        </receiver>
        
    </application>
    
    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>